.regiocom-blue {
    background-color: #04417A !important;
}

.regiocom-blue-text {
    color: #04417A !important;
}

.regiocom-blue.lighten-5 {
    background-color: #8CC5FB !important;
}

.regiocom-blue-text.text-lighten-5 {
    color: #8CC5FB !important;
}

.regiocom-blue.lighten-4 {
    background-color: #42A0F9 !important;
}

.regiocom-blue-text.text-lighten-4 {
    color: #42A0F9 !important;
}

.regiocom-blue.lighten-3 {
    background-color: #0C85F7 !important;
}

.regiocom-blue-text.text-lighten-3 {
    color: #0C85F7 !important;
}

.regiocom-blue.lighten-2 {
    background-color: #0661B5 !important;
}

.regiocom-blue-text.text-lighten-2 {
    color: #0661B5 !important;
}

.regiocom-blue.lighten-1 {
    background-color: #055198 !important;
}

.regiocom-blue-text.text-lighten-1 {
    color: #055198 !important;
}

.regiocom-blue.darken-1 {
    background-color: #04417A !important;
}

.regiocom-blue-text.text-darken-1 {
    color: #04417A !important;
}

.regiocom-blue.darken-2 {
    background-color: #03315C !important;
}

.regiocom-blue-text.text-darken-2 {
    color: #03315C !important;
}

.regiocom-blue.darken-3 {
    background-color: #02213F !important;
}

.regiocom-blue-text.text-darken-3 {
    color: #02213F !important;
}

.regiocom-blue.darken-4 {
    background-color: #011221 !important;
}

.regiocom-blue-text.text-darken-4 {
    color: #011221 !important;
}

.regiocom-blue.darken-5 {
    background-color: #000203 !important;
}

.regiocom-blue-text.text-darken-5 {
    color: #000203 !important;
}

.regiocom-blue.accent-1 {
    background-color: #8CC5FB !important;
}

.regiocom-blue-text.text-accent-1 {
    color: #8CC5FB !important;
}

.regiocom-blue.accent-2 {
    background-color: #42A0F9 !important;
}

.regiocom-blue-text.text-accent-2 {
    color: #42A0F9 !important;
}

.regiocom-blue.accent-3 {
    background-color: #055198 !important;
}

.regiocom-blue-text.text-accent-3 {
    color: #055198 !important;
}

.regiocom-blue.accent-4 {
    background-color: #02213F !important;
}

.regiocom-blue-text.text-accent-4 {
    color: #02213F !important;
}


/* Orange */
.regiocom-orange {
    background-color: #f07e0c !important;
}

.regiocom-orange-text {
    color: #f07e0c !important;
}

.regiocom-orange.lighten-5 {
    background-color: #FFFFFF !important;
}

.regiocom-orange-text.text-lighten-5 {
    color: #FFFFFF !important;
}

.regiocom-orange.lighten-4 {
    background-color: #FCDCBD !important;
}

.regiocom-orange-text.text-lighten-4 {
    color: #FCDCBD !important;
}

.regiocom-orange.lighten-3 {
    background-color: #F9C088 !important;
}

.regiocom-orange-text.text-lighten-3 {
    color: #F9C088 !important;
}

.regiocom-orange.lighten-2 {
    background-color: #F69D44 !important;
}

.regiocom-orange-text.text-lighten-2 {
    color: #F69D44 !important;
}

.regiocom-orange.lighten-1 {
    background-color: #F48D26 !important;
}

.regiocom-orange-text.text-lighten-1 {
    color: #F48D26 !important;
}

.regiocom-orange.darken-1 {
    background-color: #D36F0B !important;
}

.regiocom-orange-text.text-darken-1 {
    color: #D36F0B !important;
}

.regiocom-orange.darken-2 {
    background-color: #B65F09 !important;
}

.regiocom-orange-text.text-darken-2 {
    color: #B65F09 !important;
}

.regiocom-orange.darken-3 {
    background-color: #995008 !important;
}

.regiocom-orange-text.text-darken-3 {
    color: #995008 !important;
}

.regiocom-orange.darken-4 {
    background-color: #7B4106 !important;
}

.regiocom-orange-text.text-darken-4 {
    color: #7B4106 !important;
}

.regiocom-orange.accent-1 {
    background-color: #FFFFFF !important;
}

.regiocom-orange-text.text-accent-1 {
    color: #FFFFFF !important;
}

.regiocom-orange.accent-2 {
    background-color: #FCDCBD !important;
}

.regiocom-orange-text.text-accent-2 {
    color: #FCDCBD !important;
}

.regiocom-orange.accent-3 {
    background-color: #F48D26 !important;
}

.regiocom-orange-text.text-accent-3 {
    color: #F48D26 !important;
}

.regiocom-orange.accent-4 {
    background-color: #B65F09 !important;
}

.regiocom-orange-text.text-accent-4 {
    color: #B65F09 !important;
}

.waves-effect.waves-regiocom-orange .waves-ripple {
    background-color: rgba(240, 126, 12, 0.7);
}